{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} {% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}' />
	<script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'js/jquery.anystretch.min.js' %}"></script>
	<script type="text/javascript" src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	{% block script %} {% endblock %}
</head>
<body>
<div class="bg" data-stretch="{% static 'image/17.png' %}">
    <div class="container"  >

		<nav class="navbar navbar-default navbar-fixed-top header">
			<div class="container">
				<div class="navbar-header">
					<!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button> -->
					<a class="navbar-brand" href="/"><img alt="ThoughtWorks" id="tw-logo" src="{% static 'image/tw-logo.png' %}"><img alt="UNICEF" id="unicef-logo" src="{% static 'image/unicef.png' %}"></a>
				</div>
            </div>
		</nav>
    </div>
    <h1 id="bg-title">Hello, Africa!</h1>
</div>


		{% block content %} {% endblock %}
		<div class="footer"> © 2015 ThoughtWorks, Inc. </div>


</body>
<script>
    $('.bg').anystretch();
</script>
</html>




