.footer{
	text-align: center;
	color: #000000;
	min-height: 15px;
	font-size:15px;
	margin-top: 100px;
	padding-top: 10px;
	border-top: 1px groove #111111;
    font-family: 'Lato', sans-serif;

}

#unicef-logo{
	height: 20px;
    padding-left: 10px;
    padding-bottom: 1px;
}

#tw-logo{
	height: 20px;
}

.header{
	opacity: 0.8;
	background-color: white;
}

.bg {
	height: 400px;
}

#slogen{
	padding-top: 30px;
	padding-bottom: 40px;
}

#bg-title {
    text-align: center;
/*    color: azure;*/
    font-size: 40px;
	font-family: 'Alegreya Sans SC', sans-serif;
}

#bg-describe{
	text-align: center;
/*    color: white;*/
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    padding-left: 10%;
    padding-right: 10%;

}

#teambar{
	padding-top: 10px;
	background-color: #69695D;
	height: 500px;
}

#team-describe{
	font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    font-size: 40px;
    color: white;
}

.row > div {
	width: 30%;
	margin: 15px;
	background-color: white;
	color: red;
}

.col-md-4 > h3 {
    font-family: 'Lato', sans-serif;
	font-size: 40px;
	color: #69695D;
	padding-top: 125px;
    padding-bottom: 125px;
}
