.footer{
	text-align: center;
	color: #000000;
	min-height: 15px;
	font-size:13px;
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	font-family: "Helvetica Neue";

}

#unicef-logo{
	height: 20px;
    padding-left: 10px;
    padding-bottom: 1px;
}

#tw-logo{
	height: 20px;
}