.footer{
	background-color: #D6D6D6;
	padding-bottom: 10px;
}

#unicef-logo{
	height: 25px;
	padding-left: 9px;
	padding-bottom: 2px;
}

#tw-logo{
	height: 25px;
}

.header{
	opacity: 0.8;
	background-color: white;
}

.bg {
	height: 450px;
}

.ubg {
	height: 300px;
}
.pbg {
	height: 300px;
}
.mbg {
	height: 300px;
}

#slogen{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 40px;
}

#idea-logo{
	width:150px;
}

.bg-title {
	text-align: center;
	/*    color: azure;*/
	font-size: 32px;
	font-family: 'Ruda', sans-serif;
}

.bg-title-polio{
	color: #004A7B;
}

.bg-title-polio:hover {
	color: #0069B2;
	cursor:pointer;
}

.bg-describe{
	text-align: center;
	/*    color: white;*/
	font-size: 17px;
	font-family: 'Lato', sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
}

.bg-describe_polio {
	font-size: 18px;
}

#teambar{
	padding-top: 10px;
	padding-bottom: 50px;
	background-color: #F5F5F5;
}

#team-describe{
	font-family: 'Ruda', sans-serif;
	text-align: center;
	font-size: 40px;
	color:#353535;
	padding-top: 20px;
}

.team-grid {
	width: 90%;
	margin: 0 auto;
	text-decoration: none;
}

.team-color-red{
	background-color: #FBABBD;
}
.team-color-blue{
	background-color: #4DB3F1;
}
.team-color-green{
	background-color: #26CA7F;
}

.card {
	display: block;
	transition: all .2s ease-out;
	text-decoration: blink;
}

.linkpage{
	padding-top:15px;
	text-align: center;
	font-family: 'Lato', sans-serif;
}


a:hover, a:focus {
	color: #2a6496;
	text-decoration: blink;
}

.card:hover{
	transform: translate(0px,-2px);
}


.team-head {
	text-align: center;
	font-family: 'Ruda', sans-serif;
	font-size: 35px;
	color: white ;
	padding: 20px 0;
}

.team-title {
	text-align: center;
	color: white;
	font-size: 50px;
	font-family: 'Ruda', sans-serif;
	padding-top: 120px;
}

.team-photo{
	width:70%;
	padding-top: 20px;
	padding-bottom: 15px;
}

.info-bg {
	background-color: #E6E6E6;
	padding: 30px;
	text-align: center;
}
.team-link{
	padding-top: 10px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	display: inherit;
	transition: all .2s ease-out;
}

.team-link:hover{
	transform: translate(0px,-1px);
}

.red{
	color: #A63F70;
}

.blue{
	color: #006BB0;
}

.polio-location{
	color: #00619F;
	font-weight: 700;
}

.polio-photo{
	-webkit-filter: opacity(0.5);
	cursor: pointer;
}

.polio-photo:hover{
	-webkit-filter:none;
}

.featured-quote {
    font-weight: 300;
    margin: 0;
    line-height: 1.3em;
    font-size: 18px;
    font-style: italic;
    display: block;
    font-family: 'Lato', sans-serif;
    background: url(../image/quote-open.png) left top no-repeat,url(../image/quote-close.png) right bottom no-repeat;
    background-size: 55px;
    padding: 30px 80px 25px;
    margin: 50px 0px;
}
