.footer{
	text-align: center;
	color: #000000;
	min-height: 15px;
	font-size:15px;
	margin-top: 100px;
	padding-top: 10px;
	border-top: 1px groove #111111;
    font-family: 'Lato', sans-serif;

}

#unicef-logo{
	height: 25px;
    padding-left: 10px;
    padding-bottom: 1.5px;
}

#tw-logo{
	height: 25px;
}

.header{
	opacity: 0.8;
	background-color: white;
}

.bg {
	height: 400px;
}

#slogen{
	padding-top: 30px;
	padding-bottom: 40px;
}

#bg-title {
    text-align: center;
/*    color: azure;*/
    font-size: 40px;
	font-family: 'Ruda', sans-serif;
}

#bg-describe{
	text-align: center;
/*    color: white;*/
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    padding-left: 10%;
    padding-right: 10%;

}

#teambar{
	padding-top: 10px;
	background-color: #E5E5E5;
	height: 450px;
}

#team-describe{
	font-family: 'Ruda', sans-serif;
    text-align: center;
    font-size: 40px;
    color:#353535;
}

.team-grid {
	width: 90%;
	margin: 0 auto;
	text-decoration: none;
}

.team-color-red{
	background-color: #FBABBD;
}
.team-color-blue{
	background-color: #4DB3F1;
}
.team-color-green{
	background-color: #26CA7F;
}

.card {
	display: block;
    padding: 25px;
    transition: all .2s ease-out;
}
.card :hover{
    transform: translate(0,-2px);
    opacity: .85;
}

.team-head {
	text-align: center;
	font-family: 'Ruda', sans-serif;
	font-size: 35px;
	color:white ;
	padding:125px 0;
}

